<h2>本当に退会しますか？</h2>

<p>退会すると、会員登録情報や</p>
<p>これまでの購入履歴が閲覧できなくなります。</p>
<p>退会する場合は、「退会する」をクリックしてください。</p>


<div>
  <%= link_to my_page_customers_path, class: "btn btn-lg btn-secondary" do %>
    <i class="fas fa-user-cog">退会しない</i>
  <% end %>
</div>

<div>
  <%= link_to withdraw_customers_path, method: :patch, data: { confilm: "本当に退会しますか？" }, class: "btn btn-lg btn-secondary" do %>
    <i class="fas fa-user-cog">退会する</i>
  <% end %>
</div>