// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
div .image {
  background-image:image-url('doughnuts-g5495c1aa9_640.jpg');
  background-size: cover;
  background-position: center;
}