<div class="container m-4 mx-auto">
  <h3 class='pull-left m-2'><strong>商品一覧(全<%= @all_items.count %>件)</strong></h3>
  <div class=row>
    <div class="d-flex flex-row">
    </div>
      <%= render 'public/items/from', items: @items %>
    </div>

  <!--ページネーション追加-->
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-2 mx-auto text-left">
      <%= paginate @items %>
    </div>
    <div class="col-md-5"></div>
  </div>

</div>