<div class="container">
  <div class="row">
    <div class="mx-auto">
      <div class="text-center m-5">
        <div class="mv-text">
          <h3>ようこそ、NaganoCakeへ！</h3><br>
            <p>
              このサイトは、ケーキ販売のECサイトになります。<br>
              会員でない方も商品の閲覧はできますが、<br>
              購入には会員登録が必要になります。<br><br>
            </p>
        </div>
      </div>
    </div>
  </div>
</div>

