<div class="row mx-5 mt-4" style="min-height: 400px">
  <div class="col-2">
    <%= render 'public/genres/index_window', genres: @genres %>
  </div>

  <div class="image col-7 ml-5 d-flex justify-content-center align-items-center">
    <div class="col-10 d-flex justify-content-center">
      <p class="color text-left text-middle bg-light d-flex align-items-center" style="width: 425px; height: 150px">
        ようこそ、NaganoCakeへ<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。<br>
      </p>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-8 offset-3">
    <h5><strong>新着商品</strong></h5>
    <div class="d-flex flex-row">
      <%= render 'public/items/from', items: @items %>
    </div>
  </div>
</div>

  <div class="row px-5">
    <div class="col-2 offset-10">
      <%= link_to '全ての商品を見る>', items_path %>
    </div>
  </div>
</div>