<table class="table">
  <thead class="thead-light">
    <tr>
      <th class="text-center">ジャンル検索</th>
      <th></th>
    </tr>
  </thead>
  <% genres.each do |genre| %>
    <tbody>
      <tr>
        <td><%= link_to genre.genre_name, genre_path(genre.id) %></td>
      </tr>
    </tbody>
  <% end %>
</table>
</div>