<div class="container">
  <div class ="row">
    <div class="col">
      <h3 class="d-flex align-items-center justify-content-center" style="height: 450px">ご注文ありがとうございました！</h3>
    </div>
  </div>
</div>